body { 
  color: #303030;
}

ul { list-style: none; }

a {
	color:#FD740C;
	font: Helvetica,Arial,sans-serif;
  text-decoration: none;
}

a:hover {
	text-decoration:underline;
}

#header {
  margin: 10px 0 30px 0;
}

#header h1 {
  font: 18px Helvetica,Arial,sans-serif;
  font-weight: bold;
  color: #27536C;
}

#header h1 a {
  color: #27536C;
}

#menu {
	padding: 15px 0px 0px 0px;
	float: left;
	color: #333332;
	padding:0px;
}

#menu li {
	display: inline;
	padding:0px 26px 0px 0px;	
}

.story {
  margin-bottom: 20px;
  font-weight: bold;
}

.story .upvote {
  width: 10px;
}

label {    
display: block;  
}

fieldset {  
margin: 1.5em 0 0 0;  
padding: 0;  
}  

legend {  
margin-left: 1em;  
color: #000000;  
font-weight: bold;  
}  

fieldset ol {  
padding: 1em 1em 0 1em;  
list-style: none;  
}  

fieldset li {  
padding-bottom: 1em;  
}  

fieldset.submit {  
border-style: none;  
}

.comment td {
  padding: 5px;
}

.comment .body td {
  padding-bottom: 7px;
}

.comment .reply td {
}

.story .upvote {
  width: 10px;
}
